<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">MenuItem</h5>
          <p>
            <strong>ID</strong>: {{menuItem.id}}</p>
          {{!-- <p> --}}
          <p>
            <strong>Category</strong>: {{menuItem.category}}</p>
          <p>
            <strong>Title</strong>: {{menuItem.title}}</p>
          <p>
            <strong>Description:</strong> {{menuItem.description}}</p>
          <p>
            <strong>Price</strong>: {{menuItem.price}}</p>
          <a id="backHomeBtn" href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>